{% extends "base.html" %}

{% block title %}
{% if object.id %}
Edit
{% else %}
Create
{% endif %}
{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <a class="btn btn-primary" href="{% url 'list' %}">Back</a>
    {% if object.id %}
        <input type="submit" class="btn btn-primary" value="Update">
    {% else %}
        <input type="submit" class="btn btn-primary" value="Create">
    {% endif %}    
</form>
{% endblock %}